html {
    width: 100%;
    height: 100%;
}

body {
    max-height: fit-content;
    background-image:url(images/logo2-removebg-preview.png), linear-gradient(rgb(193, 191, 241), rgb(165, 109, 105));
    background-position:center; 
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    background-size:contain;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}



.container {
    width: 90%;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}



a {
    color: white;
    text-decoration: none;
}

main {
    margin-top:10px;
    min-height: 300px;
    display: flex;
    align-items: center;
    flex: auto;
}

.main2 {
    min-height: 300px;
    padding-top: 50px;
}

.cards {
    display: flex;
    margin-top: 2%;
    margin-bottom: 3%;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url(images/poll-8=.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 250px;
    width: 30%;   
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.228);
}

.card2 {
    background-image: url(images/poll-155=.png);
    background-size: cover;
    background-position: bottom;
    color: white;
    width: 30%;
    min-height: 250px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.228);
}

.card3 {
    background-image: url(images/poll-16.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;
    min-height: 250px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.228);
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px; 
    box-sizing: border-box;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
    margin-top: 40px;
}


h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

h2 {
    color: white;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

footer
{
    font-size: 2.25rem;
    font-family: 'Playfair Display', serif;
    background-color: #7f5e69;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.228);

}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}

.cards i {
    color: aliceblue;
    font-size: 100px;
}



.mybutton {
    background-color: white;
    color: #7f5e69;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

.mybutton:hover {
    background-color: rgb(29, 213, 103);
    transition-duration: 1s;
}

a.mybutton {
    display: inline-block;
    margin-top: 1
    0px;
}

nav a.mybutton {
    margin-left: 30px;
}

.navbutton {
    border: 1px solid white;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
}

.navbutton:hover .dropdown {
    display: block;
}

.dropdown .navbutton {
    width: 120px;
    background-color: white;
}

.dropdown .navbutton a {
    color: #FA4083;
}


.inputwrapper {
    margin-bottom: 30px;
}

#rightpic{
    max-width:400px;
     max-height:300px;
}
#rightpiclabel{
    background: lightblue;
    height: 25px;
     width: 220px; 
     display:inline-block;
     padding-top:4px; 
     padding-left:181px;
}
.phone
{
 position: relative;
 right:10%;
 font-size: 100%;

}

@media (max-width:768px){
    h1 {
        font-size:40px;
    }
    p{
        font-size:15px;
    }
    #rightpic{
        width:200px + 5%;
        height:150px + 5%;
    }
}

@media (max-width:450px){
    h1 {
        font-size:35px;
    }
    p{
        font-size:15px;
    }
    #rightpic{
        width:200px;
        height:150px;
    }
    .herobox2{
        margin-left: -20%;
        margin-bottom: 25%;
    }
    #rightpiclabel{
        width: 70px;
        font-size: 13px;
        padding-left:130px
    }
    
    .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 2%;
        margin-bottom: 3%;
        justify-content: space-between;
        text-align: center;
        align-content: center;
    }
    .cards .card:last-child {
        margin: 0 auto;
    }
    .card1 
    {
        background-repeat:repeat;
        width: 70%;
        margin-bottom: 10px;
    }
    .card2 
    {
        width: 70%;
        margin-bottom: 10px
    }
    .card3 
    {
        width: 70%;
        margin-bottom: 10px
    }
  
   .phone
   {
    position: relative;
    right: 80%;
    font-size: 100%;
   }
      
  
}